<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="QL_ebookEntities" connectionString="metadata=res://*/Database.QL_ebook.csdl|res://*/Database.QL_ebook.ssdl|res://*/Database.QL_ebook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MSI;initial catalog=QL_ebook;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>